*{
    margin: 0;
    padding: 0;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3;
text-align: center;

/* subt 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
a:hover{
    opacity: 0.7;
     
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background: #000;
    width: 1440px;
    height: 120px;
    flex-shrink: 0;
}
img{
flex-shrink: 0;
}

.nav-list {
list-style: none;
display: flex;
}

.nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
}