* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    height: 13vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
  }
  
  .home {
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 81vh;
    background: url(imgs/casal-desfrutando-de-comida-no-restaurante2.png) no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .home .text {
    text-align: center;
    line-height: normal;
    width: 60rem;
  }
  
  .home .text h1 {
    color: white;
    font-size: 96px;
    font-family: Oleo Script Swash Caps;
  }
  
  .home .text p {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .btn {
    background: #611b00;
    color: #ffffff;
    padding: 14px 14px;
    border-radius: 1000px;
    display: inline-block;
    margin-top: 4rem;
    cursor: pointer;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px;
  }
  
  .about .text {
    width: 400px;
   float: left;/* Alinha o texto à esquerda */
    padding: 100px;
    margin-right: 20px;
  }
  
  .grid {
    float: left; /* Alinha o grid à esquerda */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    max-width: 1043px;
    padding: 100px;
  }
  
  .img1:nth-child(1) {
    grid-row: 1 / 3;
}
.text hr {
    height: 2px;
    width: 129px;
    background: #D17542;
    margin: 0;
    border: none;
    border-top: 1px;
    margin-top: 41px;
    margin-bottom: 41px;
  }
 .about .text h1{
    width: 168px;
height: 60px;
color: var(--dark, #1C1C1C);
font-family: Oleo Script Swash Caps;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
.about .text p{
    width: 482px;
height: 43px;
color: var(--texto, #7D7D7D);

/* subt 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
  }
 .about .btn{
display: flex;
display: flex;
padding: 9px 2px 14px 56px;
margin-top: 6rem;
border-radius: 1000px;
  }