*{
 width: 0 auto;
 margin: 0 auto;

}
a{
    color: white;
    text-decoration: none;
    transition: 0.3;
text-align: center;

/* subt 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
a:hover{
    opacity: 0.7;
     
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    height: 13vh;
}

.fundo{
    background: url(imgs/casal-desfrutando-de-comida-no-restaurante2.png);
    background-size: cover;
    height: cal(100v - 80vh);
    height: 86vh}

.fundo .banner-text{
    justify-content: center;
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner-text h1{
    color: #FFF;
    font-family: Oleo Script Swash Caps, sans-serif;
    font-size: 40px; 
    text-align: -webkit-center;;

}
h1{
    width: 776px;
    height: 146px;
    flex-shrink: 0;
}


.nav-list {
list-style: none;
display: flex;

}

.nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
}

.btn{
    background-color: #621B00;
    color: #FFF;
    padding: 14px 14px;
    border-radius: 1000px;
}
