*{
 width: 0 auto;
 margin: 0 auto;

}
a{
    color: white;
    text-decoration: none;
    transition: 0.3;
text-align: center;

/* subt 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
a:hover{
    opacity: 0.7;
     
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    height: 13vh;
}

.nav-list {
list-style: none;
display: flex;

}

.nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
}




.home{
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 81vh;
    background: url(imgs/casal-desfrutando-de-comida-no-restaurante2.png) no-repeat;
    background-position: center;
    background-size: cover;
}


.home .text{
    text-align: center;
    line-height:normal;
    width: 60rem;
    }


.home .text h1{
    color: white;
    font-size: 96px;
    font-family: Oleo Script Swash Caps;
}

.home .text p{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-weight: 40;
}
.btn{
    background: #611b00;
    color: #ffffff;
    padding: 14px 14px;
    border-radius: 1000px;
    display: inline-block;
    margin-top: 4rem;
    cursor: pointer;
}

.about .text{
    width: 300px;
    float: left;
    padding: 100px;
    margin-right: 20px;
}

.grid{
    float: left;
 display: grid;
 grid-template-columns: repeat(2, 1fr);
grid-gap: 40px;
margin-left: 0 auto;
max-width: 650px;
padding: 100px;
}

.img1:nth-child(1){
    grid-row: 1 / 3;
  
}


