* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a:hover {
  opacity: 0.7;
}

nav {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  height: 13vh;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  display: inline-flex;
  align-items: flex-start;
  gap: 31px;
  margin-left: 31px;
}

.home {
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 81vh;
  background: url(imgs/casal-desfrutando-de-comida-no-restaurante2.png) no-repeat;
  background-position: center;
  background-size: cover;
}

.home .text {
  text-align: center;
  line-height: normal;
  width: 60rem;
}

.home .text h1 {
  color: white;
  font-size: 96px;
  font-family: Oleo Script Swash Caps;
}

.home .text p {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
}

.text .btn {
  background: #611b00;
  color: #ffffff;
  padding: 14px 14px;
  border-radius: 1000px;
  display: inline-block;
  margin-top: 4rem;
  cursor: pointer;
}

.imagemDivAbout {
  width: 50%;
  padding: 20px;
}

.imagemAbout {
  max-width: 100%;
  height: auto;
}
.about {
  display: flex;
  justify-content: space-between;
}

.imagensAbout,
.textoAbout {
  display: flex;
  width: 48%;
  padding: 20px;
}

.about .text {
  width: 400px;
  float: left; /* Alinha o texto à esquerda */
  padding: 100px;
  margin-right: 20px;
}
.about .text hr {
  height: 2px;
  width: 129px;
  background: #d17542;
  margin: 0;
  border: none;
  border-top: 1px;
  margin-top: 41px;
  margin-bottom: 41px;
}
.about .text h1 {
  width: 168px;
  height: 60px;
  color: var(--dark, #1c1c1c);
  font-family: Oleo Script Swash Caps;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about .text p {
  width: 482px;
  height: 43px;
  color: var(--texto, #7d7d7d);

  /* subt 2 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textoAbout .btn {
  padding: 14px 10px;
  margin-top: 6rem;
  border-radius: 1000px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 10vh; /* Altura da área do menu */
  margin-top: 700px; /* Espaço superior */
}

.menu .text h1 {
  height: 65px;
  color: var(--dark, #1c1c1c);
  font-family: Oleo Script Swash Caps;
  font-size: 64px;
  font-weight: 400;
}
.menu .text hr {
  height: 2px;
  width: 129px;
  background: #d17542;
  margin: 0;
  border: none;
  border-top: 1px;
  margin-top: 41px;
  margin-bottom: 41px;
  vertical-align: middle;
}

.menu .text p {
  width: 710px;
  color: var(--texto, #7d7d7d);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gridM {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-column-gap: 72px;
  grid-row-gap: 40px;
}

.dinner {
  box-shadow: 50px 0px 10px rgba(0, 0, 0, 0.2);
}
