*{
 width: 0 auto;
 margin: 0 auto;

}
a{
    color: white;
    text-decoration: none;
    transition: 0.3;
text-align: center;

/* subt 2 */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
a:hover{
    opacity: 0.7;
     
}
nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    height: 13vh;
}

.nav-list {
list-style: none;
display: flex;

}

.nav-list li {
    display: inline-flex;
    align-items: flex-start;
    gap: 31px;
    margin-left: 31px;
}


section{
 padding:2rem 9%;
}


.home{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 81vh;
    background: url(imgs/casal-desfrutando-de-comida-no-restaurante2.png) no-repeat;
    background-position: center;
    background-size: cover;
}


.home .text{
    text-align: center;
    line-height:normal;
    width: 60rem;
    }


.home .text h1{
    color: white;
    font-size: 96px;
    font-family: Oleo Script Swash Caps;
}

.home .text p{
    color: #FFF;
text-align: center;
font-family: Poppins;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.btn{
    background-color: #621B00;
    color: #ffffff;
    padding: 14px 14px;
    border-radius: 1000px;
    
}
